body {
    font-family: 'Playfair Display', serif;
    color: #3d230e;
    margin: 0;
    padding: 0;
    background-image: url(../assets/fundo.inicial.jpg);
    height: 1px;
    text-align: center;
}

.fundo video {
    border-bottom: 10px solid #3d230e;
    width: 100%;
    height: 400px;
    object-fit: cover;
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
}


.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px; /* Aumenta o padding para aumentar o header */
    background-color: #5A361A;
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
}

.topo :hover{
    transition: transform 0.5s;
    transform: scale(1.1);
}

.logo {
    border-bottom: #FDDEC1 3px solid;;
    height: 50px; /* Ajuste a altura da logo */
    margin-left: 400px; /* Ajuste conforme necessário */
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
    border-radius: 30px;
}

.logo :hover{
    text-decoration: underline;
    transition: transform 0.5s;
    transform: scale(1.1);
}

nav {
    background-color: #B26F42;
    padding: 10px 0;
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
}

nav :hover{
    transition: transform 0.5s;
    transform: scale(1.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    
}

nav a {
    color: #FDDEC1;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;

}

nav a:hover {
    background-color: #FDDEC1;
    color: #3d230e;
    text-decoration: underline;
    
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
}

.usuario-icone {
    position: absolute;
    top: 20px;
    right: 20px;
}

.usuario-icone img {
    width: 40px;
    height: 40px;
    border-bottom: #FDDEC1 3px solid;
    border-radius: 10px;
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
}

.usuario-icone :hover{
    transition: transform 0.5s;
    transform: scale(1.1);
}

main {
    padding: 20px;
    text-align: center;
}


.allintro {
    text-align: center;
    align-items: center;
    background-color: #a37e5f;
    height: 175px;
    margin-top: -5px;
    margin-top: 35px;
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
}

.allintro :hover {
    transition: transform 0.5s;
    transform: scale(1.1);
}

.intro {
    align-items: center;
}

.intro h2 {
    color: #3d230e;
    font-size: 20px;
    background-color: #FDDEC1;
    padding: 5px;
    display: inline-block;
    border-radius: 90px;
    margin-bottom: -200px;
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
}

.introimg img {
    width: 380px;
    height: 60px;
    border-radius: 1000px;
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
    margin-top: 20px;
    margin-left: 0px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.texto {
    background-color: #5A361A;
    color: #FDDEC1;
    border-radius: 50px;
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
    display: inline-block;
    padding: 0px 30px;
    font-size: 35px;
    transition: transform 0.5s;
    margin-top: -90px;
}

.texto:hover {
    transform: scale(1.1);
}

.texto:active {
    transform: scale(0.9);
}

.desc {
    color: #FDDEC1;
    font-size: 20px;
    margin-top: -15px;
}

.box {
    background-color: #9b633c;
    width: 700px;
    padding: 50px;
    margin: 15px;
    border-radius: 75px;
    text-align: center;
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
}

.ellipse {
    background-color: #FDDEC1;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #5A361A;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
    text-align: center;
  }
  
  footer img {
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
    border-radius: 30px;
    border-bottom: #FDDEC1 3px solid;
  }
  
  footer h6{
    margin-left: 10px;
  }
  
  footer h2 {
    border-radius: 10px;
    border-bottom: #FDDEC1 3px solid;
    color: #FDDEC1;
    margin: 10px 0;
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
  }
  
  footer h2:hover{
    transform: scale(1.1);
    transition: transform 0.5s;
  }
  
  footer .listFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  footer .listFooter ul {
    list-style: none;
    padding: 0;
  }
  
  footer .listFooter ul li a {
    color: #FDDEC1;
    text-decoration: none;
  }
  
  footer .listFooter ul li a:hover {
    text-decoration: underline;
    color: #B26F42;
  }
  
  .redesSociais {
    display: flex;
    gap: 20px;
    
  }
  
  .redesSociais img {
    border-radius: 10px;
    border: none;
    width: 40px;
    height: 40px;
    transition: transform 0.3s;
    box-shadow: 0 5px 7px rgba(76, 26, 0, 1.5);
  }
  
  .redesSociais img:hover {
    transform: scale(1.1);
  }
  
  footer img:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
  }
/* Responsividade */
@media (max-width: 768px) {
    *{
        font-size: 10px;
    }

    .logo {
        width: 70%;
    }

    .allintro {
        padding-top: -30px;
        padding-bottom: 50px;
        width: 100%;
        height: auto; /* Permite que a altura se ajuste automaticamente */
    }

    .introimg img {
        width: 50%; /* Ajusta a largura da imagem */
        height: auto; /* Mantém a proporção da imagem */
    }

    .box {
        font-size: 10px;
        width: 90%; /* Ajusta a largura da caixa */
        padding: 10px; /* Ajusta o padding */
    }

    .box p{
        
        font-size: 15px;
    }

    .texto {
        font-size: 25px; /* Reduz o tamanho da fonte */
        padding: 10px 20px; /* Ajusta o padding */
    }

    .ellipse {
        width: 90%; /* Ajusta a largura da elipse */
    }
}